#custom-grid-wrapper .ag-root-wrapper {
  background-color: var(--card-bg);
  color: var(--text-color);
}

/* Header */
#custom-grid-wrapper .ag-header {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Cells */
#custom-grid-wrapper .ag-cell {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.ag-cell[aria-colindex="1"] {
  border-left-color: var(--primary-color) !important;
  border-right-color: var(--primary-color);
}
.ag-cell{
  border-right-color: var(--primary-color);
}
.ag-row[aria-rowindex="0"]{
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}
.ag-row{
  border-bottom-color: var(--primary-color);
}
/* Hover and selected */
#custom-grid-wrapper .ag-row-hover {
  background-color: rgba(0, 123, 255, 0.1);
}
[data-theme="dark"] #custom-grid-wrapper .ag-row-hover {
  background-color: rgba(78, 170, 255, 0.1);
}

#custom-grid-wrapper .ag-row-selected {
  background-color: rgba(0, 123, 255, 0.07);
}
[data-theme="dark"] #custom-grid-wrapper .ag-row-selected {
  background-color: rgba(78, 170, 255, 0.07);
}
.ag-picker-field-wrapper{
  background-color: var(--bg-color);
  color: var(--text-color);
}
.ag-header-cell-resize {
  width: 1px;
  background-color: var(--primary-color);
  opacity: 0.3;
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  cursor: col-resize;
  z-index: 10;
  transition: background-color 0.2s ease;
}

.ag-header-cell-resize:hover {
  background-color: var(--primary-color);
  opacity: 0.6;
}

.ag-filter-menu{
  background-color: var(--card-bg);
}
.ag-filter-body{
  background-color: var(--card-bg);
}
.ag-input-field-label{
  color: var(--text-color);
}
.ag-select-list{
  background-color: var(--card-bg);
  color: var(--text-color);
}
.ag-input-field-input{
  background-color: var(--bg-color); 
  color: var(--text-color);
}
.ag-input-field-input::placeholder{
  color: var(--text-color);
  opacity: 0.6;
}
.ag-input-wrapper::before {
  filter: var(--search-filter);
}
