
/* === LIGHT THEME === */
:root {
  --bg-color: #ffffff;
  --text-color: #0a0a0a;
  --primary-color: #007BFF;      
  --secondary-color: #e6f0ff;      
  --card-bg: #f5faff;
  --search-filter: brightness(0) saturate(100%) invert(41%) sepia(78%) saturate(1342%) hue-rotate(189deg) brightness(98%) contrast(96%);

}

/* === DARK THEME === */
[data-theme='dark'] {
  --bg-color: #121a2c;           
  --text-color: #f1f1f1;
  --primary-color: #4eaaff;     
  --secondary-color: #1c263b;      
  --card-bg: #1a2333;
  --search-filter: brightness(0) saturate(100%) invert(79%) sepia(96%) saturate(368%) hue-rotate(175deg) brightness(103%) contrast(97%);

}



