@import './App.css';

body {
  font-family: sans-serif;
  margin: 0;
}
html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: sans-serif;
  transition: background-color 0.2s, color 0.2s;
}
html, body {
  height: 100%;
  margin: 0;
}
#root{
  height: fit-content;
  margin: 0;
}
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

